node_modules

.editorconfig
.eslintrc.js
.markdownlint.json
.prettierrc.js

.env

.vscode

!static/
static/*
!static/admin/
static/admin/config.yml

assets/content
assets/images
assets/manifests
assets/userData.xlsx
